<%- include('includes/head'); %>

<body>
    <section class="container">
        <div class="centro">
        <h1 class="titulo">Formulário de cadastros</h1>
            <form action="/" method="post" id="input-form" class="form-control">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                
                <label class="label" for="input-name">Nome:</label>
                <input id="input-name" class="formulario nome validar" action="" method="post" type="text" name="cliente">

                <label class="label" for="cpf">CPF:</label>
                <input id="input-cpf" class="formulario cpf validar" action="" method="post" type="text" name="cpf">

                <label class="label" for="usuario">Usuário:</label>
                <input id="input-usuario" class="formulario usuario validar" action="" method="post" type="text" name="usuario">

                <label class="label" for="senha">Senha</label>
                <input id="input-senha" class="formulario senha validar" action="" method="post" type="password" name="senha">

                <label class="label" for="confirmar-senha">Confirmar Senha</label>
                <input id="confirmar-senha" class="formulario confirmar-senha validar" action="" method="post" type="password">
                <button id="enviar" class="btn" type="submit">Enviar</button>
            </form>
       </div>
    </section>

<%- include('includes/footer.ejs'); %>
